*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
}
nav{
    height: 100px;
    background-color: white;
}
.carousel{
    margin-top: 100px;
    height: calc(100vh - 100px);

}
.carousel img{
    height: calc(100vh - 100px);
}
li .log{
    background-color: #cb8670;
    margin-left: 10px;
    padding: 10px;
    border-radius:10px ;
    
}
.book{
    margin: 20px auto;
    /* height: 170px; */
    height: fit-content;
    width: fit-content;
    background-color: #d3d6db;
}
.date{
    /* width: 130px; */
    height: 150px;
    background-color: #363636;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 0 10px;
    border: 2px solid #cb8670;
    color: #cb8670;
}
.bknow{
    color:#cb8670;
    margin-top: 15px;
}
.bg-image{
    width: 100%;
    background: url("http://localhost/Hotel/public/assets/content.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    background-position: left;
}
.bg-image hr{
    width: 200px;
    background-color: #cb8670;
    border: 1px solid #cb8670;
    opacity: 100%;
    margin: 10px auto;

}
 hr{
    width: 200px;
    background-color: #cb8670;
    border: 1px solid #cb8670;
    opacity: 100%;
    margin: 20px auto;
}

.more{
    background-color: #cb8670;
    margin: 0 auto;
}

.imggg{
    /* background: url("http://localhost/Hotel/public/assets/card1.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
}

.card-body{
    border: 2px solid #cb8670;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
}
.BookNow{
    background-color: #cb8670;
    color: white;
    width: 140px;
    padding: 5px 0;
    margin: 0 auto;
    margin-bottom: -40px; 
}
.frooooom{
    
    border: 2px solid #cb8670 ;
}
.para{
    color: #7d7d7d;
    font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
}
.about{
    color: #7d7d7d;
    font-size: 14px;
    line-height: 2.1;
    font-weight: 400;
}
.abouta{
    text-decoration: none;
    background-color: #cb8670;
    color: white;
    width: 140px;
}
.footer{
    background-color: #363636;
    color: #cccccc;
}
.footer input{
    width: 100%;
    height: 46px;
    background-color: transparent;
    border: 2px solid #cb8670;
    padding: 0 15px;
    color: #ffffff;
}
.footer button{
    width: 100%;
    height: 46px;
    border: none;
    font-size: 16px;
    margin-top: 15px;
    color: #ffffff;
    cursor: pointer;
    background-color: #cb8670;
}
.fa-solid{
    margin-right: 10px;
}
/* ***************Login page************** */

/* ***************Login page************** */
@media screen and (max-width:830px) {
    .book{
        /* width: 500px; */
    }
    .date{
        width: 100px;
    }
}
@media screen and (max-width:613px){
    .book{
        flex-direction: column;
        width: 350px;
        /* margin-bottom: 150px; */
    }
    .date{
        width: 100%;
        padding: 5px 10px;
    }
}